@model Curso


@{  
    Layout = "_Layout";
    ViewData["Title"] = "Registro de Productos";
    var usuarios = new List<Usuario>();
    usuarios = ViewBag.items;
    
}


<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Curso"  asp-action="RegistrarCurso"  method="post" class="row g-2 align-items-center" enctype="multipart/form-data">

    <div class="col-12 form-group">
        <label asp-for="nombre">Nombre del curso</label>
        <input type="text" asp-for="nombre" class="form-control">
        <span class="text-danger" asp-validation-for="nombre"></span>
    </div>

    <div class="col-6 form-group">
        <label asp-for="fechaInicio">Fecha de inicio</label>
        <input type="date" asp-for="fechaInicio" class="form-control">
        <span class="text-danger" asp-validation-for="fechaInicio"></span>
    </div>

    <div class="col-6 form-group">
        <label asp-for="fechaFin">Fecha de fin</label>
        <input type="date" asp-for="fechaFin" class="form-control">
        <span class="text-danger" asp-validation-for="fechaFin"></span>
    </div>

    <div class="col-6 form-group">
        <label asp-for="horario">Horario: </label>
        <input type="text" asp-for="horario" class="form-control">
        <span class="text-danger" asp-validation-for="horario"></span>
    </div>

     <div class="col-6 form-group">
        <label asp-for="cupo">Cupos disponibles: </label>
        <input type="number" asp-for="cupo" class="form-control">
        <span class="text-danger" asp-validation-for="cupo"></span>
    </div>

    <div class="col-6 form-group">
        <label asp-for="informacion">Informacion del curso: </label>
        <textarea asp-for="informacion" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="cupo"></span>
    </div>

    <div class="col-6 form-group">
        <label asp-for="precio">Precio del curso: </label>
        <input type="number" asp-for="precio" class="form-control" step="2.5" value="0.00" pattern="^\d*(\.\d{0,2})?$">
        <span class="text-danger" asp-validation-for="precio"></span>
    </div>

      <div class="col-6 form-group">
        <label for="file">Imagen: </label>
        <input type="file" for="file" name="files" class="form-control" accept="image/png, image/jpg, image/jpeg" required>
    </div>

     <div class="col-6 form-group" >
        <label asp-for="usuario">Profesor: </label>
         
         <div class="form-group">

           <select class="form-control" name="profesor">

               <option selected disabled>Seleccione el profesor del curso...</option>

               @foreach (var item in usuarios)
               {

                 <option value="@item.Id">@item.nombres</option>
                   
               }

           </select>

            <span class="text-danger" asp-validation-for="usuario"></span>

       </div>
        
    </div>

    <button class="btn btn-primary">Registrar Curso</button>
</form>



